@media screen and (max-width:576px) {
  
  :root {
    --xs-aside-padding:5px;
  }


  .home.active {
    border: none;
    padding-left: var(--xs-aside-padding);
  }


  aside {
    width: 45px;
  }
  
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
    height: 90px;
    padding: var(--xs-aside-padding)
  }
  .logo-small img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .content, 
  .cta-bar {
    width: calc(100% - 45px);
  }

  .recently-played .card-container .card,
  .created .card-container .card,
  .popular-artists .card-container .card {
    width: calc(100% / 2);
    min-width: 200px;
  }


  .menu .text {
    display: none;
  }

  .home,
  .search,
  .library{
  padding-left: var(--xs-aside-padding);
}
  
  .playlist {
    display: none;
  }

  .aside-bottom{
    padding-left: var(--xs-aside-padding);
  }

  .aside-bottom .download{
    border: none;
  }

  .aside-bottom .text,
  .aside-bottom .name {
    display: none;
  }
}