* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

:root {
  --content-bg: #141922;
  --footer-bg: #282828;
  --green: #B0F32F;
  --gray: #A3A3A3;
  --elapsed-gray: #B9B9B9;
  --aside-padding: 20px;
  --aside-padding-active: 16px;
}
/* 
.debug {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid black;
} */

.d-flex {
  display: flex;
  flex-wrap: wrap;
  /* FIXME: fare classe a parte per il wrap */
}

.main-wrapper {
  height: 100vh;
}


.btn-square{
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.home.active {
  color: white;
  border-left: 4px solid var(--green);
  padding-left: var(--aside-padding-active);
}

.icon.active {
  filter: none;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px 30px;
  color: white;
}


.perc20 {
  width: 20%;
}

.perc50{
  width: 50%;
}


main {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}

/* aside */

aside{ 
  width:225px;
  height: 100%;
  min-height: 450px;
  color: rgb(137, 137, 137);
  background-color: black;
}

.aside-top{
  width: 100%;
  height: calc(100% - 90px - 40px);
}

.logo {
  height: 90px;
  align-items: center;
  padding: var(--aside-padding);
}

.logo-small {
  display: none;
}

aside .menu {
  height: 100px;
  margin: 20px 0;
}

.home,
.search,
.library {
  width: 100%;
  height: 30px;
  align-items: center;
  padding-left: var(--aside-padding);
}

.icon {
  width: auto;
  height: 100%;
  object-fit: cover;
  filter: contrast(0);
}



.playlist {
  height: calc(100% - 190px);
  padding-left: var(--aside-padding);
}

.playlist-top {
  height: 75px;
}

.playlist-top .title{
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 5px 0;
}

.playlist-top .new {
  align-items: center;
}

.new .text {
  padding-left: 10px;
}

.playlist-bottom{
  height: calc(100% - 75px - 40px); /* 75 + 40 margin di menu */
  padding-top: 10px;
  overflow: auto;
}


.aside-bottom{
  width: 100%;
  height: 90px;
  padding: var(--aside-padding) var(--aside-padding) 0 var(--aside-padding);
}

.aside-bottom .download {
  align-items: center;
 padding-bottom: 5px;
 border-bottom: 1px solid var(--gray);
}

.aside-bottom .user {
  align-items: center;
  padding-top: 5px;
}

.aside-bottom .icon {
  font-size: 1.2rem;
  padding-right: 5px;
}

/* cta */

.cta-bar {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #14192246;
  
}

.cta-bar .container {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.cta-bar .container a {
  margin-right: 20px;
}

.content {
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
  padding-top: 90px;
}



/* card container */

.content {
  background-color: var(--content-bg);
}

.content .menu {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
/* FIXME:
.content .menu .active::after {
  display: block;
  width: 50%;
  height: 4px;
  background-color: var(--green);
} */

.content .menu span {
  padding: 0 10px;

}

.recently-played,
.created, 
.popular-artists{
  width: 100%;
  color: white;
  padding-top: 10px;
}

.recently-played .title,
.created .title,
.popular-artists .title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.created .sub-title,
.popular-artists .sub-title {
  padding: 0px 10px 10px 10px;
}

.recently-played .card-container,
.created .card-container,
.popular-artists .card-container  {
  width: 100%;
  flex-wrap: wrap;
  gap: 0;
}

.recently-played .card-container .card,
.created .card-container .card,
.popular-artists .card-container .card {
  width: calc(100% / 6);
  min-width: 160px;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.card .image {
  width: 80%;
  height: auto;
  max-width: 180px;
}

.card .image {
  position: relative;
}

.card .image .image-hover {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, .3);
}

.card .image:hover .image-hover {
  display: flex;
}

.popular-artists .card .image-hover {
  border-radius: 50%;
}

.popular-artists .card .image img{
  border-radius: 50%;
}

.card .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .title {
  font-weight: 600;
  padding: 0;
  text-transform: capitalize;
}

.popular-artists .card .title {
 font-size: 1rem;
}

.card .author,
.created .sub-title,
.popular-artists .sub-title {
  color: var(--gray);
  font-size: .8rem;
  font-weight: 600;
}

/* footer */

footer {
  height: 90px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: white;
  background-color: var(--footer-bg);
}

.song,
.player,
.volume {
  height: 100%;
}

.song {
  width: 25%;
  max-width: 250px;
  align-items: center;
  padding-left: var(--aside-padding);
}

.song .info {
  flex-wrap: nowrap;
  width: 70%;
  height: 50%;
  align-items: center;
  column-gap: 10px;
}

.song .text {
  min-width: 55px;
  height: 100%;
  line-height: 15px; 
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.song .text .author {
  font-size: 0.7rem;
  color: var(--gray);
}

.song .image {
  height: 100%;
}

.song .image img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.song .actions {
  /* min-width: 40px; */
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  color: var(--gray);

}

.favourite,
.folder {
  width: 50%;
  min-width: 25px;
  display: flex;
  justify-content: center;
}

.player{
  width: 50%;
}

.player .controls,
.player .bar-section{
  width: 100%;
  height: 50%;
}

.player .controls {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
}


/* FIXME: rendere la spaziatura dinamica */
.player .controls span {
  margin-right: 25px;
}

.player .bar-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player .bar-section .time-passed,
.player .bar-section .time-left {
  font-size: 0.7rem;
}

.bar {
  display: inline-block;
  width: 80%;
  height: 4px;
  margin: 0 20px;
  background-color: var(--gray);
  border-radius: 2px;
}

.bar-elapsed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  border-radius: 2px;
}

.pointer {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.bar-section:hover .bar-elapsed {
  background-color: var(--green);
}

.bar-section:hover .pointer {
  display: block;
}

.volume {
  width: 25%;
  max-width: 250px;
  justify-content: center;
  align-items: center;
}

.volume .volume-controls {
  width: 45%;
  justify-content: space-around;
}

.volume .bar-section {
  display: flex;
  align-items: center;
  width: 45%;
}

.volume .bar-section .bar {
  margin: 0;
}