* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --content-bg: #141922;
  --footer-bg: #282828;
  --green: #B0F32F;
  --gray: #A3A3A3;
  --aside-padding: 20px;
  --aside-padding-active: 16px;
}

.debug {
  /* background-color: rgba(0, 0, 0, .1); */
  border: 1px solid black;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper {
  height: 100vh;
}


.btn-square{
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.home.active {
  color: white;
  border-left: 4px solid var(--green);
  padding-left: var(--aside-padding-active);
}

.icon.active {
  filter: none;
}

main {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}

aside{ 
  width:225px;
  height: 100%;
  min-height: 450px;
  color: rgb(137, 137, 137);
  background-color: black;
}

.aside-top{
  width: 100%;
  height: calc(100% - 90px);
}

.logo {
  height: 90px;
  align-items: center;
  padding: var(--aside-padding);
}

.logo-small {
  display: none;
}

aside .menu {
  height: 100px;
  margin: 20px 0;
}

.home,
.search,
.library {
  width: 100%;
  height: 30px;
  align-items: center;
  padding-left: var(--aside-padding);
}

.icon {
  width: auto;
  height: 100%;
  object-fit: cover;
  filter: contrast(0);
}

.aside-bottom{
  width: 100%;
  height: 90px;
}



.playlist {
  height: calc(100% - 190px);
}

.playlist-top {
  height: 75px;
}

.playlist-top .title{
  color: white;
}

.playlist-top .new {
  align-items: center;
}

.playlist-bottom{
  height: calc(100% - 115px); /* 75 + 40 margin di menu */
  overflow: auto;
}




.content {
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
  padding-top: 90px;
}

.cta-bar {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 999;
}


footer {
  height: 90px;
  width: 100%;
  justify-content: space-between;
}

.left,
.player,
.volume {
  height: 100%;
}

.player{
  width: 50%;
}