* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

:root {
  --content-bg: #141922;
  --footer-bg: #282828;
  --green: #B0F32F;
  --gray: #A3A3A3;
  --aside-padding: 20px;
  --aside-padding-active: 16px;
}

.debug {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid black;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper {
  height: 100vh;
}


.btn-square{
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.home.active {
  color: white;
  border-left: 4px solid var(--green);
  padding-left: var(--aside-padding-active);
}

.icon.active {
  filter: none;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px 30px;
  color: white;
}
main {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}

/* aside */

aside{ 
  width:225px;
  height: 100%;
  min-height: 450px;
  color: rgb(137, 137, 137);
  background-color: black;
}

.aside-top{
  width: 100%;
  height: calc(100% - 90px - 40px);
}

.logo {
  height: 90px;
  align-items: center;
  padding: var(--aside-padding);
}

.logo-small {
  display: none;
}

aside .menu {
  height: 100px;
  margin: 20px 0;
}

.home,
.search,
.library {
  width: 100%;
  height: 30px;
  align-items: center;
  padding-left: var(--aside-padding);
}

.icon {
  width: auto;
  height: 100%;
  object-fit: cover;
  filter: contrast(0);
}



.playlist {
  height: calc(100% - 190px);
  padding-left: var(--aside-padding);
}

.playlist-top {
  height: 75px;
}

.playlist-top .title{
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 5px 0;
}

.playlist-top .new {
  align-items: center;
}

.new .text {
  padding-left: 10px;
}

.playlist-bottom{
  height: calc(100% - 75px - 40px); /* 75 + 40 margin di menu */
  padding-top: 10px;
  overflow: auto;
}


.aside-bottom{
  width: 100%;
  height: 90px;
  padding: var(--aside-padding) var(--aside-padding) 0 var(--aside-padding);
}

.aside-bottom .download {
  align-items: center;
 padding-bottom: 5px;
 border-bottom: 1px solid var(--gray);
}

.aside-bottom .user {
  align-items: center;
  padding-top: 5px;
}

.aside-bottom .icon {
  font-size: 1.2rem;
  padding-right: 5px;
}

/* cta */

.cta-bar {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #141922;
  opacity: .3;
}

.cta-bar .container {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.cta-bar .container a {
  margin-right: 20px;
}

.content {
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
  padding-top: 90px;
}



footer {
  height: 90px;
  width: 100%;
  justify-content: space-between;
  color: white;
  background-color: var(--footer-bg);
}

.song,
.player,
.volume {
  height: 100%;
}

.song {
  width: 250px;
  align-items: center;
  padding-left: var(--aside-padding);
}

.song .info {
  flex-wrap: nowrap;
  width: 70%;
  height: 50%;
  align-items: center;
  column-gap: 10px;
}

.song .text {
  height: 100%;
  line-height: 15px; 
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.song .text .author {
  font-size: 0.7rem;
  color: var(--gray);
}

.song .image {
  height: 100%;
}

.song .image img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.song .actions {
  width: 30%;
  justify-content: space-around;
  align-items: center;
  color: var(--gray);

}

.player{
  width: 50%;
}

.player .controls,
.player .bar-section {
  width: 100%;
  height: 50%;
}

.player .controls {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


/* FIXME: rendere la spaziatura dinamica */
.player .controls span {
  margin-right: 25px;
}

.player .bar-section{
  text-align: center;
}

.player .bar-section .time-passed,
.player .bar-section .time-left {
  font-size: 0.7rem;
}

.bar {
  display: inline-block;
  width: 80%;
  height: 4px;
  margin: 0 20px;
  background-color: var(--gray);
  border-radius: 2px;
}

.volume {
  width: 250px;
  justify-content: center;
  align-items: center;
}

.volume .volume-controls {
  width: 45%;
  justify-content: space-around;
}

.volume .bar {
  width: 45%;
  margin: 0;
}

/* card container */

.content {
  background-color: var(--content-bg);
}

.content .menu {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.content .menu span {
  padding: 0 10px;

}

.recently-played {
  width: 100%;
  color: white;
}

.recently-played .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}

.recently-played .card-container {
  width: 100%;
  flex-wrap: wrap;
}

.recently-played .card-container .card {
  width: calc(100% / 6);
  /* TODO: min width */
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card .image {
  width: 80%;
  max-width: 180px;
}

.card .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .title {
  font-weight: 600;

}

.card .author {
  color: var(--gray);
  font-size: .8rem;
  font-weight: 600;
}